.homesec1 {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColorColor);
}

.homesec1 .content {
    display: flex;
    flex-direction: row;
}


.homesec1 .content .leftside {
    width: 50%;
    height: 100vh;
    position: relative;
}

.homesec1 .content .leftside .leftsidecontent {
    position: absolute;
    width: 80%;
    height: 90vh;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
}

.homesec1 .content .leftside .leftsidecontent .title {
    width: 100%;
    position: relative;
}



.homesec1 .content .leftside .leftsidecontent .title h1 {
    color: var(--mainColor);
    font-size: 6.5vh;
    font-family: 'SpeedDemon';
    text-align: center;
}





.homesec1 .content .leftside .leftsidecontent .fichetechnic {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homesec1 .content .leftside .leftsidecontent .fichetechnic {
    color: var(--thirdColor);
}

.homesec1 .content .leftside .leftsidecontent .fichetechnic .fichtechsub {
    width: 50%;
    margin-bottom: 5vh;
    box-sizing: border-box;
    text-align: center;
}

.homesec1 .content .leftside .leftsidecontent .fichetechnic .fichtechsub h2 {
    font-size: 2vh;
}

.homesec1 .content .leftside .leftsidecontent .fichetechnic .fichtechsub h1 {
    font-size: 3.5vh;
}





.homesec1 .content .leftside .leftsidecontent .fichetechnic .svg-tech {

    height: 8vh;
    width: auto;
}

.homesec1 .content .leftside .leftsidecontent .fichetechnic .svg-tech path {
    fill: var(--thirdColor);
}


.homesec1 .content .leftside .leftsidecontent .button {
    color: rgb(0, 0, 0);
    background-color: var(--mainColor);
    font-weight: 500;
    border-radius: 1vh;
    font-size: 1vh;
    cursor: pointer;
    text-align: center;
    /* margin-right: 0.5rem; */
    display: inline-flex;
    align-items: center;
    border: none;
    width: 100%;
    height: 7.5vh;
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease-in;
}

.homesec1 .content .leftside .leftsidecontent .button:hover {
    background-color: #ecffc4;
}

.homesec1 .content .leftside .leftsidecontent .button h1 {
    padding-inline: 1vw;
    /* width: 100%;
    text-align: center; */
}




.homesec1 .content .rightside {
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.homesec1 .content .rightside .mercedesamglogo {
    position: absolute;
    height: 12vh;
    width: auto;
    left: 50%;
    transform: translateX(-60%);
    top: 11vh;

}


.homesec1 .content .rightside .mercedesamglogo path {
    fill: var(--mainColor);
}





/* .scrolldown{
    position: absolute;
} */
.scrolldown {
    position: absolute;
    width: 2.5vw;
    height: auto;
    /* left: 50%; */
    left: 48.7%;
    /* transform: translateX(-60%); */
    bottom: 5vh;
    animation: upndown 2s infinite;
}


.scrolldown path {
    fill: var(--mainColor);
    stroke: black;
}


@keyframes upndown {
    0% {
        transform: translateY(-0.4vh);
        /* transform: translateX(-1.3vw); */
    }

    50% {
        transform: translateY(0.4vh);
        /* transform: translateX(-1.3vw); */

    }

    100% {
        transform: translateY(-0.4vh);
        /* transform: translateX(-1.3vw); */

    }
}






@media (max-width: 700px) {
    .homesec1 {
        height: 100vh;
    }

    .homesec1 .content {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .homesec1 .content .leftside,
    .homesec1 .content .rightside {
        width: 100%;
    }

    .homesec1 .content .leftside {
        margin-top: 103vh;
        background-color: var(--backgroundColorColor);
    }

    .homesec1 .content .rightside {
        position: fixed;
    }

    .Xtitle {
        position: fixed;
        width: 100%;
        top: 10vh;
    }

    .Xtitle h1 {
        color: var(--mainColor);
        font-size: 4.5vh;
        font-family: 'SpeedDemon';
        text-align: center;
        /* position: -webkit-sticky; */
        position: fixed;
        /* z-index: 100; */
    }

    .mercedesamglogo {
        display: none;
    }

    .homesec1 .content .leftside .leftsidecontent .title {
        display: none;
    }



    .homesec1 .content .leftside .leftsidecontent .fichetechnic {
        top: 14vh;
        position: relative;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}